.hidden {
  display: none;
}

img {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: -1;
  background-size: cover;
}

#todo-form,
#todo-list,
#clock,
#greet,
#weather,
#quote,
#login-form,
#log-out {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

#clock {
  font-family: "Bungee Shade", cursive;
}

#greeting {
  font-family: "Redressed", cursive;
  font-family: "Nanum Pen Script", cursive;
  font-size: 3rem;
}

#clock {
  margin: 100px 0px;
  font-size: 4rem;
}
#todo-list {
  font-family: "Nanum Pen Script", cursive;
  font-size: 2rem;
}

#weather {
  padding: 20px;
  font-family: "Poiret One", cursive;
  font-weight: bold;
}

#quote {
  font-family: "Nanum Pen Script", cursive;
  top: 90%;
  font-size: 20px;
}

#logout {
  background-color: blanchedalmond;
  border: none;
  border-radius: 10px;
  block-size: 40px;
  margin-left: 50px;
  font-family: "Poiret One", cursive;
  font-style: bold;
}

#LOGIN {
  background-color: blanchedalmond;
  border: none;
  border-radius: 10px;
  block-size: 40px;
  margin-left: 20px;
  font-family: "Poiret One", cursive;
  font-style: bold;
}
